{% extends "AcmeBooksBundle::layout.html.twig" %}
{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div>
        {{ form_row(form.title) }}
    </div>
    <div>
        {{ form_row(form.author) }}
    </div>
    <div>
        {{ form_row(form.cover_file) }}
    </div>
    {% if (form.vars.value.id and form.vars.value.cover) %}
        <div>
            {{ imageResize(form.vars.value.coverWebPath) }}
            <a href="#" class="imageToggle">удалить изображение</a>
        </div>
    {% endif %}
    <div>
        {{ form_row(form.bookfile_file) }}
    </div>
    {% if (form.vars.value.id and form.vars.value.bookfile) %}
        <div>
            <a href="{{ path('acme_books_download', {id: form.vars.value.id}) }}">download</a>
            <a href="#" class="fileToggle">удалить файл</a>
        </div>
    {% endif %}
    <div>
        {{ form_row(form.dateread) }}
    </div>
    <div>
        {{ form_row(form.downloadable) }}
    </div>
    <div>
        {{ form_widget(form.Submit) }}
        <a href="{{ path('acme_books_homepage') }}">назад</a>
    </div>
    {{ form_row(form.use_cover) }}
    {{ form_row(form.use_bookfile) }}
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    function imageToggle(event)
    {
        event.stopPropagation();
        var $link = jQuery(event.target);
        $link.parent('div').find('img').toggle();
        if ($link.parent('div').find('img:hidden').length) {
            $link.html('вернуть изображение');
            jQuery('#book_use_cover').val(0);
        } else {
            $link.html('удалить изображение');
            jQuery('#book_use_cover').val(1);
        }
    }

    function fileToggle(event)
    {
        event.stopPropagation();
        var $link = jQuery(event.target);
        $link.parent('div').find('a[class!=fileToggle]').toggle();
        if ($link.parent('div').find('a[class!=fileToggle]:hidden').length) {
            $link.html('вернуть файл');
            jQuery('#book_use_bookfile').val(0);
        } else {
            $link.html('удалить файл');
            jQuery('#book_use_bookfile').val(1);
        }
    }

    jQuery(document).ready(function() {
        jQuery('.imageToggle').bind('click', imageToggle);
        jQuery('.fileToggle').bind('click', fileToggle);
    });
</script>
{% endblock %}
