{% extends 'AcmeBooksBundle::layout.html.twig' %}
{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{ path('acme_books_create') }}">Добавить книгу</a><br/>
    {% endif %}
    {% block books %}
        <table>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Cover</th>
                <th></th>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <th></th>
                {% endif %}
            </tr>
            {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>
                        {% if (book.cover) %}
                            {{ imageResize(book.coverWebPath) }}
                        {% endif %}
                    </td>
                    <td>
                        {% if book.downloadable %}
                            <a href="{{ path('acme_books_download', {id: book.id}) }}">download</a>
                        {% endif %}
                    </td>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <td>
                            <a href="{{ path('acme_books_edit', {id: book.id} ) }}">edit</a>
                            <form action="{{ path('acme_books_delete', {id: book.id} ) }}" method="post" style="display: inline-block;">
                                <input type="submit" value="удалить" onclick="return confirm('Удалить?');">
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% endblock %}
{% endblock %}
